@font-face {
    font-family: 'FutureTechno';
    src: url(Resources/future_techno/FutureTechno.ttf);
}

@font-face {
    font-family: 'Drawfly';
    src: url(Resources/drawfly-go-font/DrawflyGo-w1ly2.otf);
}

body {
    background: url(Resources/background.jpg); /*sfondo: blu scuro*/
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: row; /* Disposizione in riga */
    justify-content: space-between; /* Spazio tra gli elementi */
    overflow: hidden;/*nasconde la scrollbar*/
}

/*navbar*/
ul{
    background-color: transparent;
    backdrop-filter: blur(25px);
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    display: flex; 
    margin: auto;   
}

a{
    font-family: 'Courier New';
    font-size: 12pt;
    color: #E41476;
    text-decoration: none;
}

section{
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;

    padding: 0px 50px;
    margin: 0 auto;
    width: calc(100% - 10%);
}

/*contenitori*/
.container{
    display: flex;
    flex-direction: column; /*tiene gli elementi in colonna*/ /* Altezza massima */
    align-items: space-between;
    height: 85vh; 
    width: 75vw;
    max-height: 80%;
    max-width: 60%;

    background-color: transparent;
    backdrop-filter: blur(15px);
    border: 2px solid #E41476;
    border-radius: 25px;
    padding: 15px 20px;
    box-shadow: 0 0 5px #02C8ED,
                0 0 25px#02C8ED,
                0 0 50px #02C8ED;
}

.subcontainer{
    flex-grow: 3; /*occupa 2/3 dello spazio*/
}

.title {
    font-family: 'FutureTechno';
    font-size: 45pt;
    color: #E41476;
    position: relative;
    margin-top: 20%;
    text-align: center; 
    text-shadow: 0px 5px #02C8ED;
    } 

.subtitle {
    font-family: 'FutureTechno', sans-serif;
    font-size: 24pt;
    color: #E41476;
    padding: 10px 25px 0px;
    position: relative;   
    text-align: center;
} 

.version{
    font-family: 'FutureTechno', sans-serif;
    font-size: 16pt;
    color: #E41476;
    padding: 5px 15px;
    position: relative;   
    text-align: center;

}

.buttonContainer{
    flex-grow: 2; /*occupa 1/3 dello spazio*/

}

.buttonform{
    display: flex; /*centra il pulsante*/
    justify-content: center;
    padding-bottom: 0px 0px 20px;
}

.cvButton{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 35px;
    width: 150px;
    color: #E41476;
    box-shadow: 0px 5px 15px #E41476;
    background-color: #101B37;
    position: relative;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    transition: 0.5s;
    
}

:hover.cvButton{
    background: #02C8ED;
    color: #101B37;
    font-weight: bold;
    box-shadow: 0 0 5px #02C8ED,
        0 0 25px#02C8ED,
        0 0 50px #02C8ED;
}

.section_title{ /*titoli sezioni*/
    font-family: 'Courier New';
    font-size: 24pt;
    font-weight: bold;
    color: #E41476;
    width: 100%;
    padding: 10px 10px;
    position: relative;   
    text-align: left;
    text-shadow: 0px 5px #101B37;
}

/*----------------sezione skill----------------*/

.skillProgress{ /*sub-container progressbar*/
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    /*scrollbar*/
    overflow: scroll; 
    scrollbar-width: none; 

}

.skill{
    width: 100px;
    height: 100px;
    position: relative;
    padding: 20px 20px ;
}

.outer40{ /*cerchio esterno della progressbar*/
    width: 110px;
    height: 110px;
    background-image: conic-gradient(#02C8ED 0deg, #02C8ED 140deg,#101B37 140deg, #101B37 360deg);
    border:1px solid #E41476;
    box-shadow: 0px 5px 10px#E41476;
    border-radius: 50%;
    /*centrano inner*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer25{ /*cerchio esterno della progressbar*/
    width: 110px;
    height: 110px;
    background-image: conic-gradient(#02C8ED 0deg, #02C8ED 90deg,#101B37 90deg, #101B37 360deg);
    border:1px solid #E41476;
    box-shadow: 0px 5px 10px#E41476;
    border-radius: 50%;
    /*centrano inner*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{ /*cerchio interno della progressbar*/
    width: 70px;
    height: 70px;
    background-color: #101B37;
    border:1px solid #E41476;
    border-radius: 50%;
    padding:5px;
    /*centrano il numero all'interno della progressbar*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameskill{
    font-family: 'Courier New';
    font-size: 14pt;
    font-weight: bold;
    color: #E41476;
    transition: all 0.5s ease; /* Definizione della transizione */
}

/*---------------aezione portfolio----------------------------*/

.carousel-container{
    height: 80%;
    display: flex;
    justify-content: stretch;
    align-content: center;

}

.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #101B37;
    border-radius: 10px;
    padding: 20px 10px 5px;
    height: 90%;
}

.nameProject{
    font-family: 'Courier New', Courier, monospace;
    color: #E41476;
    font-size: 12pt;
    font-weight: bold;
    padding-top: 10px;
}

.icon, .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.icon{
    height: 40%;
}

.iconProject{
    border-radius: 35px;
}

.descrip-container{
    height: 100px;
    overflow-y: scroll;
}

.descriptionText{
    font-family: 'Courier New', Courier, monospace;
    color: #E41476;
    font-size: 10pt;
    justify-content: justify;
}

.links{
    padding: 10px;
    height: 10%;
}

.github-icon{
    height: 30px;
    width: 30px;
}

.buttonCarouselContainer{
    display: flex;
    justify-content: center;
}

button{
    margin: auto;
    background-color: #E41476;
    color: #101B37;
    border-radius: 80%;
    border-color: #E41476;
}

/*---------------sezione contatti-----------------------------*/
form{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

/*input nome, cognome, email*/
.infobox{
    width: 100%;
    height: auto;
    min-height: 15%;
    background-color: #101B37;
    border-radius: 10px;
    margin-bottom: 10px;

    font-family: 'Courier New', Courier, monospace;
    color: #E41476;
    padding: 3px;
}

.infobox .title{
    /*stile prompt*/
    font-family: 'Courier New', Courier, monospace;
    color: #E41476;
    padding: 3px;
}

.messagebox{
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #101B37;
    border-radius: 10px;
    margin-bottom: 10px;

    font-family: 'Courier New', Courier, monospace;
    color: #E41476;
    padding: 3px;

}

.sendButtonContainer{
    padding: 10px 10px;
    align-items: center;
}

.sendButton{
    border-radius: 35px;
    width: 120px;
    box-shadow: 0px 5px 20px #E41476;
    background-color: #101B37;

    /*posiziona il pulsante a destra*/
    position: absolute;
    right: 25px;
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #E41476;
    text-align: center;
    padding: 0px 10px;

    transition: 0.5s; 
}

:hover.sendButton{
    background: #02C8ED;
    color: #101B37;
    font-weight: bold;
    box-shadow: 0 0 5px #02C8ED,
        0 0 25px#02C8ED,
        0 0 50px #02C8ED;
}

/*--------------------------------*/