@font-face {
    font-family: 'FutureTechno';
    src: url(Resources/future_techno/FutureTechno.ttf);
}

@font-face {
    font-family: 'Drawfly';
    src: url(Resources/drawfly-go-font/DrawflyGo-w1ly2.otf);
}

body {
    cursor: url('neoncursor.png');
    background: url(Resources/background.jpg); /*sfondo: blu scuro*/
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: row; /* Disposizione in riga */
    justify-content: space-between; /* Spazio tra gli elementi */
    overflow: hidden; /*nasconde la scrollbar*/
}

/*vertical-navbar*/
.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 5%;
    z-index: 1;
}

.navbar.right{
    right: 5%;
}

.navbar.left{
    left: 5%;
}

a{
    display: flex;
    height: 1px;
    width: 1px;
    background-color: #E41476;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #E41476;
    padding: 7px;
    margin: 10px 0px;
    transition: background-color 0.5s;
    z-index: 9999;
}

a:hover{
    background-color: #02C8ED;
    box-shadow: 0 0 5px #02C8ED,
                0 0 25px#02C8ED,
                0 0 50px #02C8ED;
}

section{
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;

    padding: 0px 50px;
    margin: 0 auto;
    width: calc(100% - 10%);
}

/*contenitori*/
.container{
    display: flex;
    flex-direction: column; /*tiene gli elementi in colonna*/ /* Altezza massima */
    align-items: space-between;
    height: 85vh; 
    width: 75vw;
    max-height: 80%;
    max-width: 60%;

    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid #E41476;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 0 5px #02C8ED,
                0 0 25px#02C8ED,
                0 0 50px #02C8ED;
}

.subcontainer{
    flex-grow: 2; /*occupa 2/3 dello spazio*/
}

.title {
    font-family: 'FutureTechno';
    font-size: 45pt;
    color: #E41476;
    position: relative;
    margin-top: 20%;
    text-align: center; 
    text-shadow: 0px 5px #02C8ED;
    } 

.subtitle {
    font-family: 'FutureTechno', sans-serif;
    font-size: 24pt;
    color: #E41476;
    padding: 10px 25px 0px;
    position: relative;   
    text-align: center;
} 

.version{
    font-family: 'FutureTechno', sans-serif;
    font-size: 16pt;
    color: #E41476;
    padding: 5px 25px;
    position: relative;   
    text-align: center;

}

.buttonContainer{
    flex-grow: 1; /*occupa 1/3 dello spazio*/

}

.buttonform{
    display: flex; /*centra il pulsante*/
    justify-content: center;
    padding-bottom: 5%;
}

.cvButton{
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 35px;
    width: 150px;
    color: #E41476;
    box-shadow: 0px 5px 15px #E41476;
    background-color: #101B37;
    position: relative;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    transition: 0.5s;
    
}

:hover.cvButton{
    background: #02C8ED;
    color: #101B37;
    font-weight: bold;
    box-shadow: 0 0 5px #02C8ED,
        0 0 25px#02C8ED,
        0 0 50px #02C8ED;
}

.section_title{ /*titoli sezioni*/
    font-family: 'Courier New';
    font-size: 24pt;
    font-weight: bold;
    color: #E41476;
    width: 100%;
    padding: 15px 0px 30px;
    position: relative;   
    text-align: left;
    text-shadow: 0px 5px #101B37;
}

/*sezione skills*/
.skills{
    border-top: #E41476;
}

.skillgrid{
    display: flex;
    flex-direction: row;
}

.nameskill{
    font-family: 'Courier New';
    font-size: 14pt;
    color: #E41476;
    width: 50%;
    padding: 10px;
    position: relative;   
    text-align: left;
}

.progress-bar-c, .progress-bar-sql, .progress-bar-java {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #101B37 79%, transparent 80% 100%), 
    conic-gradient(#02C8ED 30%, #101B37 0);
    margin: 10%;
  }

  .progress-bar-html, .progress-bar-css {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #101B37 79%, transparent 80% 100%), 
    conic-gradient(#02C8ED 50%, #101B37 0);
    margin: 10%;
  }

/*aezione portfolio*/

/*sezione contatti*/
.form{
   padding-right: 10px;
}

/*input nome, cognome, email*/
.infobox{
    width: 100%;
    height: auto;
    min-height: 15%;
    background-color: #101B37;
    border-radius: 10px;
    margin-bottom: 10px;

    font-family: 'Courier New', Courier, monospace;
    color: #E41476;
    padding: 3px;
}

.infobox .title{
    /*stile prompt*/
}

.messagebox{
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #101B37;
    border-radius: 10px;
    margin-bottom: 10px;

    font-family: 'Courier New', Courier, monospace;
    color: #E41476;
    padding: 3px 5px;
}

.sendButtonContainer{
    padding: 10px;
    padding-top: 15px;
    align-items: baseline;
}

.sendButton{
    border-radius: 35px;
    width: 150px;
    box-shadow: 0px 5px 20px #E41476;
    background-color: #101B37;

    /*posiziona il pulsante a destra*/
    position: absolute;
    right: 25px;
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #E41476;
    text-align: center;
    padding: 20px 20px;

    transition: 0.5s; 
}

:hover.sendButton{
    background: #02C8ED;
    color: #101B37;
    font-weight: bold;
    box-shadow: 0 0 5px #02C8ED,
        0 0 25px#02C8ED,
        0 0 50px #02C8ED;
}

/*sezione icone*/
/*contenitore icone*/
icons{  

}

/*singola icona*/
icon{

}

:hover.icon{

}
